@import "media_queries";
@import "../stylesheets/Draft.css";
@import "graphComponent";
/**********************************
Global style
*/
.navbar {
  margin-bottom: 0 !important;
}

textarea.textarea-non-resize{
  min-height: 150px;
  resize: none;
}

.prezent-vr-logo{
  background-image: url(/images/prezentvr_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;

}

@media #{$media-small-devices-tablets}{
  .prezent-vr-logo{
    &.logged-in{
      background-position: center 15px !important;
    }
  }

  .navbar-collapse{
    .navbar-nav{
      li.left-menu-item{
        a{
          padding-top: 22px;
        }
      }
    }
  }
}

/**********************************
Form Login Page
*/
.login-page{
  text-align: center;

  .submit-button{
    background-color: #3b9846
  }

  .signup-form{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    input[type="text"], input[type="password"] {
      height: 44px;
    }
  }

  .form-error-block{
    color: red;
    font-weight: 600;
    font-size: 13px;
  }
}

/**********************************
Form upload profile picture
*/
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__file{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.box__choose-file {
  cursor: pointer;
}

.box__choose-file:hover{
  color: red;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
  padding: 150px;
  text-align: center;
}

.box.has-advanced-upload .box__input{
  position: relative;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

.box.is-uploading .box__input {
  visibility: hidden;
}
.box.is-uploading .box__uploading {
  display: block;
}

/**********************************
user-account-component
*/
.user-account-component{
  .upload-link {
    margin-left: 10px;
  }

  .updateUserInfoFrm{
    margin-top: 30px;
  }
}

/**********************************
edit-avatar-component
*/
.edit-avatar-component{
  text-align: center;
}

.scale-range-input-wrapper{
  padding: 0 20%;
}

/**********************************
sharing-deck-modal-component
*/

.sharing-deck-modal-component{
  .modal-body {
    margin-left: 15px;
    margin-right: 15px;
  }

  .link-display{
    padding: 10px;
    background-color: #ccc;
    border: 1px solid grey;
    cursor: copy;
  }

  .share-action{
    margin-top: 10px;
  }

  .copied-text-alert{
    margin-left: 10px;
  }

  .click-to-copy-link{
    cursor: pointer;
  }
}

/**********************************
presentation-component
*/
.presentation-component{
  .presentation-header {
    text-align: center;
    background-color: #333d42;

    .header-title{
      color: white;
    }
  }

  .presentation-tabs{
    #presentationTabs{
      background-color: #333d42;

      .tab-content{
        background-color: white;

        .deck-settings-component{
          padding-top: 30px;

          .button-group-visibility{
            display: block;
          }
        }
      }
    }

    ul.nav-tabs{
      margin: auto;
      width: 50%;
      border-bottom: 1px solid #333d42;

      li{
        width: 33.33333%;
        a{
          border: none;
          color: white;
          display: inline-block;

          &:hover {
            background-color: #c17d00;
          }
        }

        &.active{
          a{
            background-color: #c17d00;
          }
        }
      }
    }
  }
}

/**********************************
deck-slides-component
*/
.deck-slides-component{
  .slides-navigation{
    width: 150px;
    float: left;

    .slides-header{
      padding: 10px;
      background-color: #101010;
      color: white;

      .title{
        display: inline-block;
      }

      .add-slide{
        display: inline-block;
        float: right;
        cursor: pointer;
      }
    }

    .slide-animation-enter {
      opacity: 0.01;
    }

    .slide-animation-enter {
      &.slide-animation-enter-active{
        opacity: 1;
        transition: opacity 500ms ease-in;
      }

    }

    .slide-animation-leave {
      opacity: 1;
    }

    .slide-animation-leave {
      &.slide-animation-leave-active{
        opacity: 0.01;
        transition: opacity 300ms ease-in;
      }

    }

    .slides-list.orderable{
      background-color: #888888;
      border-right: 1px solid black;
      overflow-y: scroll;
      height: calc(100vh - 200px);
      padding-left: 0;

      .slide-item-thumb{
        padding: 5px;
        height: 145px;
        cursor: pointer;

        .slide-active{
          border: 3px solid #6c069e;
          border-radius: 5px;
        }
      }

    }

  }

  .main-slide-editor{
    width: calc(100% - 150px);
    float: left;
    padding: 10px 20px;
    height: calc(100vh - 170px);
    overflow-y: scroll;

    .button-group-switch-view{
      text-align: center;
      padding-bottom: 20px;
    }

    .editor-view{

    }
  }

}

/**********************************
content-view-component
*/
.content-view-component{
  .empty-slide{
    color: #777;
    font-style: italic;
  }

  .slide-animation-enter {
    opacity: 0.01;
  }

  .slide-animation-enter {
    &.slide-animation-enter-active{
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

  }

  .slide-animation-leave {
    opacity: 1;
  }

  .slide-animation-leave {
    &.slide-animation-leave-active{
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }

  }


  .slide-component{
    border-top: 2px solid #ccc;
    padding-top: 10px;

    &:first-child{
      border-top: none !important;
      padding-top: 0 !important;
    }

    .remove-component{
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      float: right;
      margin-bottom: 5px;
    }

    &.image-component{
      .image-thumbnail{
        margin-bottom: 5px;
      }

      .caption-area{
        min-height: 150px;
        resize: none;
      }

      .uploadButton{
        padding: 0;
        .fa.fa-upload{
          display: none;
        }

        @media #{$media-large-phone}{
          .fa.fa-upload{
            display: block;
          }

          .label-text{
            display: none;
          }
        }

      }

      .fileInputLabel{
        display: block;
        margin-bottom: 0;
        padding: 6px 12px;
      }

      .circular-progress{
        width: 50px;
        margin: auto;
      }
    }

    &.textarea-component{
      .textarea-text{
        min-height: 150px;
        resize: none;
      }
    }
  }

  .slide-footer-config{
    padding: 10px 0;

    a{
      text-decoration: none;
    }

    .duplicate-slide{
      margin-right: 20px;
    }

    .show-add-components-popover{
      float: right;
    }

  }

  .add-component-popover-container{
    .add-component-action{
      text-decoration: none;
    }
  }

}

#popoverAddComponent{
  max-width: 320px;
  width: 320px;
  padding-left: 15px;
}

/****************************************
Facebook Draft Rich
*****************************************/
.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}
