/**********************************
Global style
*/
.navbar {
  margin-bottom: 0 !important;
}

/**********************************
Form Login Page
*/
.login-page{
  text-align: center;

  .submit-button{
    background-color: #3b9846
  }

  .signup-form{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    input[type="text"], input[type="password"] {
      height: 44px;
    }
  }

  .form-error-block{
    color: red;
    font-weight: 600;
    font-size: 13px;
  }
}

/**********************************
Form upload profile picture
*/
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__file{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.box__choose-file {
  cursor: pointer;
}

.box__choose-file:hover{
  color: red;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
  padding: 150px;
  text-align: center;
}

.box.has-advanced-upload .box__input{
  position: relative;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}

.box.is-uploading .box__input {
  visibility: hidden;
}
.box.is-uploading .box__uploading {
  display: block;
}

/**********************************
user-account-component
*/
.user-account-component{
  .upload-link {
    margin-left: 10px;
  }

  .updateUserInfoFrm{
    margin-top: 30px;
  }
}

/**********************************
edit-avatar-component
*/
.edit-avatar-component{
  text-align: center;
}

.scale-range-input-wrapper{
  padding: 0 20%;
}

/**********************************
sharing-deck-modal-component
*/

.sharing-deck-modal-component{
  .modal-body {
    margin-left: 15px;
    margin-right: 15px;
  }

  .link-display{
    padding: 10px;
    background-color: #ccc;
    border: 1px solid grey;
    cursor: copy;
  }

  .share-action{
    margin-top: 10px;
  }

  .copied-text-alert{
    margin-left: 10px;
  }

  .click-to-copy-link{
    cursor: pointer;
  }
}

/**********************************
presentation-component
*/
.presentation-component{
  .presentation-header {
    text-align: center;
    background-color: #333d42;

    .header-title{
      color: white;
    }
  }

  .presentation-tabs{
    #presentationTabs{
      background-color: #333d42;

      .tab-content{
        background-color: white;

        .deck-settings-component{
          padding-top: 30px;

          .button-group-visibility{
            display: block;
          }
        }
      }
    }

    ul.nav-tabs{
      margin: auto;
      width: 50%;
      border-bottom: 1px solid #333d42;

      li{
        width: 33.33333%;
        a{
          border: none;
          color: white;
          display: inline-block;

          &:hover {
            background-color: #c17d00;
          }
        }

        &.active{
          a{
            background-color: #c17d00;
          }
        }
      }
    }
  }
}

/**********************************
deck-slides-component
*/
.deck-slides-component{
  .slides-navigation{
    width: 150px;
    float: left;

    .slides-header{
      padding: 10px;
      background-color: #101010;
      color: white;

      .title{
        display: inline-block;
      }

      .add-slide{
        display: inline-block;
        float: right;
      }
    }

    .slides-list.orderable{
      background-color: #888888;
      border-right: 1px solid black;
      overflow-y: scroll;
      height: calc(100vh - 200px);
      padding-left: 0;

      .slide-item-thumb{
        padding: 5px;
        height: 145px;
        cursor: pointer;
      }

    }

  }

  .main-slide-editor{
    width: calc(100% - 150px);
    float: left;
    padding: 10px 20px;
    height: calc(100vh - 170px);
    overflow-y: scroll;

    .button-group-switch-view{
      text-align: center;
      padding-bottom: 20px;
    }

    .editor-view{

    }
  }

}
